@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
	font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    background-image: url(./img/bkg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 25px;
}
ul,
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.side_bar,
.top_bar,
.menu {
    transition: 0.4s ease-in-out ;
    overflow: hidden;
}
.side_bar {
    width: 320px;
    height: calc(100vh - 50px);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    position: relative;
    padding: 15px 20px;
    z-index: 10000;
}
.side_bar .top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 30px 0;
}
.side_bar .top_bar:first-child {
    width: 50%;
    height: 2px;
    background-color: black;
}
.side_bar .top_bar .side_bar_bttn {
    position: absolute;
    right: 15px;
    width: 35px;
    height: 35px;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: auto;
    transition: 0.4s;
}
.side_bar .top_bar .side_bar_bttn:hover {
    margin-right: 10px;
}
.side_bar .logo_group {
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
}
.side_bar .logo_group img {
    transition: 0.4s;
}
.side_bar .logo_group .logo img {
    width: 200px;
}
.side_bar .logo_group .logo_icon img {
    width: 70px;
}
.side_bar .menu {
    padding: 15px 0;
    border-bottom: 1px solid #58595c;
    margin-bottom: 10px;
    margin-top: 15px;
}
.side_bar .menu ul li a {
    display: flex;
    align-items: center;
    position: relative;
    color: #58595c;
    transition: 0.4s ease-in-out;
    padding: 10px 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.side_bar .menu ul li a .icon {
    text-align: center;
    width: 50px;
    margin-right: 15px;
    transition: 0.4s ease-in-out;
}
.side_bar .menu ul li a .text {
    font-weight: 500;
}
.side_bar .menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}
.side_bar .menu ul li#disc {
    transition: all 0.4s ease-in-out;
    height: 40px;
    overflow: hidden;
}
.side_bar .menu ul li.show-more a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.side_bar .menu ul li#disc.show-more {
    height: 120px;
}
.side_bar .menu ul li.show-more ul li a {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.side_bar .menu ul li.show-more ul li#prof a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.side_bar .menu ul li ul li#prof a:hover,
.side_bar .menu ul li ul li a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}
.side_bar .message_group {
    margin-top: 20px;
    position: relative;
}
.side_bar .message_group .messages {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #fff;
    min-height: 30px;
}
.side_bar .message_group .messages ul li:last-child{
    border-bottom: none;
}
.side_bar .message_group .messages ul li a{
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #000;
    border-bottom: 1px solid #f2f2f2;
}
.side_bar .message_group .messages ul li .phone,
.side_bar .message_group .messages ul li .email {
    display: none;
}
.side_bar .message_group .messages ul li a .icon i {
    width: 35px;
    margin-right: 15px;
}
.side_bar .message_group .messages ul li a .text {
    color: #58595c;
    font-weight: 500;
    font-size: 14px;
}
.side_bar .message_group .messages .view_all.active_more i {
    transform: rotate(180deg);
}
.side_bar.active {
    text-align: center;
    width: 106px;
}
.side_bar.active .top_bar .side_bar_bttn {
    transform: rotate(180deg);
    margin-right: 5px;
}
.side_bar.active .top_bar .side_bar_bttn:hover {
    margin-right: 0;
}
.side_bar.active .top_bar:first-child {
    width: 30%;
}
.side_bar.active .logo_group .logo_icon img {
    margin-left: -2px;
}
.side_bar.active .menu ul li a .text {
    display: none;
}
.side_bar.active .menu ul li a:hover {
    background-color: transparent;
}
.side_bar.active .menu ul li a .icon {
    margin-left: 15px;
    width: 100px;
    font-size: 20px;
    text-align: center;
}
.side_bar.active .menu {
    margin-top: 0;
    margin-bottom: 0;
}
.side_bar.active .message_group .messages ul li a .text {
    display: none;
}
.signin-link {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signin-link span {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: #b2b9c5;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
.signin-link a i{
    color: #b2b9c5;
}
.signin-link:hover a i,
.signin-link:hover span {
    color: #fff;
}
.box {
    width: 65%;
    height: calc(100vh - 50px);
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.2);  
    backdrop-filter: blur(3px);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.box h1 {
    text-align: center;
    margin-top: -20px;
    color: #fff;
    letter-spacing: 6px;
    font-size: 90px;
    font-family: 'Pacifico', cursive;
}
.box .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}
.box .contact form table input,
.box .contact form table textarea {
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    font-family: sans-serif;
    margin: 5px 0;
    border-radius: 10px;
}
.box .contact form table input{
    height: 34px;
    width: 400px;
}
.box .contact form table textarea {
    max-width: 400px;
    min-width: 400px;
    max-height: 300px;
    height: 200px;
    letter-spacing: 1px;
}
.send-button {
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    background: rgb(170, 170, 170);
    transition: all .2s ease-in-out;
    transition: all .15s;
}
.send-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    background: rgb(199, 199, 199);
}

.send-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
    background: rgb(199, 199, 199);
}
.alt-send-button {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    transition: all .2s ease-in-out;
}
.send-text {
    display: block;
    margin-top: 10px;
    font: 800 12px  sans-serif;
    letter-spacing: 1px;
}
.send-button:hover .alt-send-button {
    transform: translate3d(0px, -29px, 0px);
}
.right {
    max-width: 400px;
    margin-left: 70px;
}
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}
.contact-list .list {
    line-height: 4;
    color: #aaa;
}
.contact-list .list a {
    position: relative;
    display: flex;
    align-items: center;
    color: rgb(201, 201, 201);
    padding: 20px 0px;
    height: 40px;
    margin: 20px 20px 20px 40px ;
}
.contact-list .list a .text {
    margin-bottom: 10px;
    font: 300 18px sans-serif;
    letter-spacing: 1.9px;
    transition-duration: 0.2s;
    margin-left: 20px;
}
.contact-list .list a:hover .text {
    color: #fff;
}
.contact-list .list a .icon{
    text-align: center;
    width: 50px;
    margin-right: 20px;
}
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 30px 8px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
}
.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}
.social-media-list li:hover {
    background-color: #fff; 
}
.social-media-list li:hover a {
    color: #000;
}
.social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}
.social-media-list li a {
    color: #fff;
}
.copyright {
    margin-top: 20px;
    font: 200 14px sans-serif;
    color: rgb(201, 201, 201);
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255,255,255,.6);
}