@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
	font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    background-image: url(./img/bkg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: 100vh;
    padding: 25px;
    overflow: hidden;
}
/* ul,
li {
    list-style-type: none;
}  */
a {
    text-decoration: none;
}
.side_bar,
.top_bar,
.menu {
    transition: 0.4s ease-in-out ;
    overflow: hidden;
}
.side_bar {
    width: 320px;
    height: calc(100vh - 50px);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    position: relative;
    padding: 15px 20px;
    z-index: 10000;
}
.side_bar .top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 30px 0;
}
.side_bar .top_bar:first-child {
    width: 50%;
    height: 2px;
    background-color: black;
}
.side_bar .top_bar .side_bar_bttn {
    position: absolute;
    right: 15px;
    width: 35px;
    height: 35px;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: auto;
    transition: 0.4s;
}
.side_bar .top_bar .side_bar_bttn:hover {
    margin-right: 10px;
}
.side_bar .logo_group {
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
}
.side_bar .logo_group img {
    transition: 0.4s;
}
.side_bar .logo_group .logo img {
    width: 200px;
}
.side_bar .logo_group .logo_icon img {
    width: 70px;
}
.side_bar .menu {
    padding: 15px 0;
    border-bottom: 1px solid #58595c;
    margin-bottom: 10px;
    margin-top: 15px;
}
.side_bar .menu ul li a {
    display: flex;
    align-items: center;
    position: relative;
    color: #58595c;
    transition: 0.4s ease-in-out;
    padding: 10px 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.side_bar .menu ul li a .icon {
    text-align: center;
    width: 50px;
    margin-right: 15px;
    transition: 0.4s ease-in-out;
}
.side_bar .menu ul li a .text {
    font-weight: 500;
}
.side_bar .menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}
.side_bar .menu ul li#disc {
    transition: all 0.4s ease-in-out;
    height: 40px;
    overflow: hidden;
}
.side_bar .menu ul li.show-more a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.side_bar .menu ul li#disc.show-more {
    height: 120px;
}
.side_bar .menu ul li.show-more ul li a {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.side_bar .menu ul li.show-more ul li#prof a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.side_bar .menu ul li ul li#prof a:hover,
.side_bar .menu ul li ul li a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}
.side_bar .message_group {
    margin-top: 10px;
    position: relative;
}
.side_bar .message_group .messages {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #fff;
    min-height: 30px;
}
.side_bar .message_group .messages ul li:last-child{
    border-bottom: none;
}
.side_bar .message_group .messages ul li a{
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #000;
    border-bottom: 1px solid #f2f2f2;
}
.side_bar .message_group .messages ul li .phone,
.side_bar .message_group .messages ul li .email {
    display: none;
}
.side_bar .message_group .messages ul li a .icon i {
    width: 35px;
    margin-right: 15px;
}
.side_bar .message_group .messages ul li a .text {
    color: #58595c;
    font-weight: 500;
    font-size: 14px;
}
.side_bar .message_group .messages .view_all.active_more i {
    transform: rotate(180deg);
}
.side_bar.active {
    text-align: center;
    width: 106px;
}
.side_bar.active .top_bar .side_bar_bttn {
    transform: rotate(180deg);
    margin-right: 5px;
}
.side_bar.active .top_bar .side_bar_bttn:hover {
    margin-right: 0;
}
.side_bar.active .top_bar:first-child {
    width: 30%;
}
.side_bar.active .logo_group .logo_icon img {
    margin-left: -2px;
}
.side_bar.active .menu ul li a .text {
    display: none;
}
.side_bar.active .menu ul li a:hover {
    background-color: transparent;
}
.side_bar.active .menu ul li a .icon {
    margin-left: 15px;
    width: 100px;
    font-size: 20px;
    text-align: center;
}
.side_bar.active .menu {
    margin-top: 0;
    margin-bottom: 0;
}
.side_bar.active .message_group .messages ul li a .text {
    display: none;
}
.signin-link {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signin-link span {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: #b2b9c5;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
.signin-link a i{
    color: #b2b9c5;
}
.signin-link:hover a i,
.signin-link:hover span {
    color: #fff;
}
.box {
    width: 65%;
    height: calc(100vh - 50px);
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.2);  
    backdrop-filter: blur(3px);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.box .page_text {
    margin-left: 30px;
    padding: 50px 25px 15px 15px;
}
.box .page_text h1 {
    font-size: 90px;
    font-family: 'Pacifico', cursive;
    margin: 100px 0 20px 0;
}
.box .page_text p {
    font-size: 20px;
    font-family: 'Poppins', cursive;
    line-height: 35px;
}
.box .page_text .bttn {
    display: inline-block;
    padding: 13px 50px;
    margin-top: 30px;
}
.box .page_text .bttn {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 15px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    transition: box-shadow .15s,transform .15s;
    font-size: 18px;
}

.box .page_text .bttn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.box .page_text .bttn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.box .page_text .bttn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
#titre{
    margin-left:150px;
}

.module{
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    margin-left:100px ;
    height: 500px;
    width: 900px;
    background-color: rgba(255, 255, 255, 0.2);  
    backdrop-filter: blur(3px);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#module1{
    display: flex;
}
#module2,#module3,#module4,#module5,#module6,#module7,#module8,#module9,#module10{
    display: none;
}
.nom{
    font-family: georgia,serif;
    font-size: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    
}
.soustitre{
    font-family: georgia,serif;;
    font-size: 30px;
    color: #2F2F2F;
    margin-top: 20px;
    margin-left: 15px;
    
}
.content{
    font-family: georgia,serif;;
    font-size: 20px;
    color:#0B032D;
    text-align: left;
    text-orientation: none;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 5px;
}
.rightarrow{
    position: absolute;
    margin-left: 920px;
    margin-top: 200px;
    cursor: pointer;
    /* color: rgb(37, 71, 71); */
}
.leftarrow{
    position: absolute;
    cursor: pointer;
    margin-top: 200px;
    margin-left: -60px;
    /* color: rgb(37, 71, 71); */
}

.minipages{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90px;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    position: absolute;
    
}
.prerequis{
    display: none;
}
#next1{
    margin-top: 179px;
    margin-left: 455px;

}
#next2{
    margin-top: 250px;
    margin-left: 455px;

}
#next3{
    margin-top: 201px;
    margin-left: 455px;
}
#next4{
    margin-top: 228px;
    margin-left: 455px;
}
#next5{
    margin-top: 272px;
    margin-left: 455px;
}
#next6{
    margin-top: 240px;
    margin-left: 455px;
}
#next7{
    margin-top: 169px;
    margin-left: 455px;
}
#next8{
    margin-top: 228px;
    margin-left: 455px;
}
#next9{
    margin-top: 272px;
    margin-left: 455px;
}
#next10{
    margin-top: 100px;
    margin-left: 455px;
}
#next11{
    margin-top: 191px;
    margin-left: 505px;
}
#previous1{
    margin-top: 338px;
    margin-left: 455px;
}
#previous2{
    margin-top: 284px;
    margin-left: 455px;
}
#previous3{
    margin-top: 137px;
    margin-left: 455px;
}
#previous4{
    margin-top: 230px;
    margin-left: 455px;
}
#previous5{
    margin-top: 257px;
    margin-left: 455px;
}
#previous6{
    margin-top: 257px;
    margin-left: 455px;
}
#previous7{
    margin-top: 284px;
    margin-left: 455px;
}
#previous8{
    margin-top: 257px;
    margin-left: 455px;
}
#previous9{
    margin-top: 230px;
    margin-left: 455px;
}
#previous10{
    margin-top: 191px;
    margin-left: 405px;
}
#previous11{
    margin-top: 212px;
    margin-left: 455px;
}
